<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=SHARAD;Initial Catalog=DATABASE;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true;User ID=sa;Password=sol@123" providerName="System.Data.SqlClient"/>-->
    <add name="DATABASEConnectionString" connectionString="Data Source=SHARAD;Initial Catalog=DATABASE;Persist Security Info=True;User ID=sa;Password=sol@123" providerName="System.Data.SqlClient"/>
    <!--<add name="DATABASEConnectionString1" connectionString="Data Source=SHARAD;Initial Catalog=DATABASE;User ID=sa;Password=sol@123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ApplicationServices" connectionString="data source=43.255.152.26;Initial Catalog=DATABASE;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true;User ID=netraw;Password=netrawsoft@123#" providerName="System.Data.SqlClient"/>
    <add name="DATABASEConnectionString" connectionString="Data Source=43.255.152.26;Initial Catalog=DATABASE;Persist Security Info=True;User ID=netraw;Password=netrawsoft@123#" providerName="System.Data.SqlClient"/>
    <add name="DATABASEConnectionString1" connectionString="Data Source=43.255.152.26;Initial Catalog=DATABASE;User ID=netraw;Password=netrawsoft@123#" providerName="System.Data.SqlClient"/>-->
    <!--<connectionStrings>
    <add name="ApplicationServices" connectionString="data source=SHARAD;Initial Catalog=DATABASE;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true;User ID=sa;Password=sol@123" providerName="System.Data.SqlClient"/>
    <add name="DATABASEConnectionString" connectionString="Data Source=SHARAD;Initial Catalog=DATABASE;Persist Security Info=True;User ID=sa;Password=sol@123" providerName="System.Data.SqlClient"/>
    <add name="DATABASEConnectionString1" connectionString="Data Source=SHARAD;Initial Catalog=DATABASE;User ID=sa;Password=sol@123" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="1"/>
    </authentication>-->
    <sessionState timeout="16" mode="InProc"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>